sudo: required
matrix:
  include:
    - language: python
      python:
        - 3.6
      services:
      - docker
      cache:
        - pip
      install:
        - pip install -r requirements.txt
        - python setup.py install
      #before_script:
        #- docker pull redis:4.0
        #- sudo docker run -d --name redis -p 6380:6379 -t redis:4.0
        #- sleep 1m
      script:
        - flake8 genocrowd tests --ignore=E501,W504
        - pytest --cov=. -vv

    - language: node_js
      node_js:
        - 8
      install:
        - npm install
      script:
        - ./node_modules/.bin/eslint --config .eslintrc.yml "genocrowd/react/src/**"
