Flask
Flask-ini
flask_reverse_proxy_fix
validate_email
Flask-PyMongo
flask-bcrypt
Flask-OAuth
apollo==4.2.9
flask-jwt-extended
Werkzeug==0.16
PyYAML>=3.10
argh>=0.24.1
gunicorn
requests
celery
redis
watchdog
pytest>=5.4.3
pytest-cov
flake8
flake8-import-order>=0.9
gitpython
sentry-sdk[flask]==0.10.2
configparser
deepdiff
markupsafe==2.0.1
