Flask
Flask-ini
flask_reverse_proxy_fix
validate_email
Flask-PyMongo
flask-bcrypt
Flask-OAuth
flask-jwt-extended
gunicorn
requests
celery
redis
watchdog
pytest>=3.6
pytest-cov
flake8
gitpython
sentry-sdk[flask]==0.10.2
configparser
deepdiff
